<form action="" [ngFormModel]='controlGroup' (ngSubmit)="onChangePassword()">
    <div class="form-group">
        <label for="oldPassword">Old password</label>
        <input #oldPassword='ngForm' ngControl='oldPassword' id="oldPassword" type="password" forbiddenPassword='bob' class="form-control">
        <div class="alert alert-warning" *ngIf="oldPassword.touched && oldPassword.errors">
            <div class="alert alert-warning" *ngIf="oldPassword.errors.required">Old password is required</div>
            <div class="alert alert-warning" *ngIf="oldPassword.errors.minlength">Old passwrod must be greater than {{oldPassword.errors.minlength.requiredLength}}</div>
            <div class="alert alert-warning" *ngIf="oldPassword.errors.invalid">Old password is incorrect</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New password</label>
        <input #newPassword='ngForm' ngControl='newPassword' type="password" id="newPassword" class="form-control">
        <div *ngIf="newPassword.touched && newPassword.errors">
            <div class="alert alert-warning" *ngIf="newPassword.errors.required">New password is required</div>
            <div class="alert alert-warning" *ngIf="newPassword.errors.minlength">New must be greater than {{newPassword.errors.minlength.requiredLength}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input #confirmPassword='ngForm' ngControl='confirmPassword' type="password" id="confirmPassword" class="form-control">
        <div *ngIf="confirmPassword.touched && confirmPassword.errors">
            <div class="alert alert-warning" *ngIf="confirmPassword.errors.required">Confirm password is required</div>
            <div class="alert alert-warning" *ngIf="confirmPassword.errors.minlength">Confirm must be greater than {{confirmPassword.errors.minlength.requiredLength}}</div>
        </div>
        <div class="alert alert-warning" *ngIf="confirmPassword.touched && controlGroup.errors && controlGroup.errors.match">The confirmation password doesn't match</div>
    </div>
    <div class="alert alert-info" *ngIf="controlGroup.pending">Send data...</div>
    <button class="btn btn-primary" [disabled]='!controlGroup.valid' type="submit">Submit</button>
</form>